body {
  background-color: linen;
  color: #371c5b;
}

h1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30;
  font-style: italic;
  text-align: center;
}

h2, h3 {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 20;
  color: indigo;
}

p {
  line-height: 1.5;
}

img {
  border: 5px solid red;
  padding: 10px;
  margin: 20px;
  border-top-right-radius: 30px;
}

list {
  display: inline-block;
  margin-left: 50px;
}

nav {
  color: #530a0a;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #530a0a;
}

/* Style for the active link */
nav a.active {
  background-color: #c29090;
  font-weight: bold;
  text-decoration: underline;
}

/* Media query for screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2, h3 {
    font-size: 18px;
  }
  
  img {
    border: 3px solid red;
    padding: 5px;
    margin: 10px;
  }
  
  list {
    display: block;
    margin-left: 0;
  }
  
  nav {
    border: 1px solid black;

  }

  #skip {
    display: none;
}
}